<a href="https://colab.research.google.com/github/sunshineluyao/NYU_Integrated_Marketing/blob/main/HypothesisTesting_ANOVA/HypothesisTesting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Install the Package Pandas and Numpy for the function of "TABLE" and "Math"**

In [10]:
import pandas as pd
import numpy as np

**Read the marketing data from Github Url ("Read Raw")**

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/sunshineluyao/NYU_Integrated_Marketing/main/HypothesisTesting_ANOVA/bank-full.csv',sep=";")
df.head()

**View the data information**

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45211 non-null  int64
 1   job        45211 non-null  object
 2   marital    45211 non-null  object
 3   education  45211 non-null  object
 4   default    45211 non-null  object
 5   balance    45211 non-null  int64
 6   housing    45211 non-null  object
 7   loan       45211 non-null  object
 8   contact    45211 non-null  object
 9   day        45211 non-null  int64
 10  month      45211 non-null  object
 11  duration   45211 non-null  int64
 12  campaign   45211 non-null  int64
 13  pdays      45211 non-null  int64
 14  previous   45211 non-null  int64
 15  poutcome   45211 non-null  object
 16  y          45211 non-null  object
dtypes: int64(7), object(10)
memory usage: 5.9+ MB

**Install the pingouin Package**

In [13]:
pip install pingouin

Requirement already satisfied: pingouin in /usr/local/lib/python3.6/dist-packages (0.3.8)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.6/dist-packages (from pingouin) (0.22.2.post1)
Requirement already satisfied: tabulate in /usr/local/lib/python3.6/dist-packages (from pingouin) (0.8.7)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.6/dist-packages (from pingouin) (1.18.5)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.6/dist-packages (from pingouin) (1.1.3)
Requirement already satisfied: scipy>=1.3 in /usr/local/lib/python3.6/dist-packages (from pingouin) (1.4.1)
Requirement already satisfied: matplotlib>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from pingouin) (3.2.2)
Requirement already satisfied: seaborn>=0.9.0 in /usr/local/lib/python3.6/dist-packages (from pingouin) (0.11.0)
Requirement already satisfied: pandas-flavor>=0.1.2 in /usr/local/lib/python3.6/dist-packages (from pingouin) (0.2.0)
Requirement already satisfied: statsmodels>=0.10.0 in /usr/local/lib/python3.6/dist-packages (from pingouin) (0.10.2)
Requirement already satisfied: outdated in /usr/local/lib/python3.6/dist-packages (from pingouin) (0.2.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->pingouin) (0.17.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24->pingouin) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24->pingouin) (2018.9)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=3.0.2->pingouin) (2.4.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=3.0.2->pingouin) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=3.0.2->pingouin) (1.2.0)
Requirement already satisfied: xarray in /usr/local/lib/python3.6/dist-packages (from pandas-flavor>=0.1.2->pingouin) (0.15.1)
Requirement already satisfied: patsy>=0.4.0 in /usr/local/lib/python3.6/dist-packages (from statsmodels>=0.10.0->pingouin) (0.5.1)
Requirement already satisfied: littleutils in /usr/local/lib/python3.6/dist-packages (from outdated->pingouin) (0.2.2)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from outdated->pingouin) (2.23.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->pingouin) (1.15.0)
Requirement already satisfied: setuptools>=41.2 in /usr/local/lib/python3.6/dist-packages (from xarray->pandas-flavor>=0.1.2->pingouin) (50.3.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->outdated->pingouin) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->outdated->pingouin) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->outdated->pingouin) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->outdated->pingouin) (1.24.3)

**Import the pingouin package**

In [17]:
import pingouin as pg

**One-Sample T-test**

In [19]:
x=df['age']
pg.ttest(x, 30)

/usr/local/lib/python3.6/dist-packages/pingouin/bayesian.py:152: RuntimeWarning: divide by zero encountered in double_scalars
  bf10 = 1 / ((1 + t**2 / df)**(-(df + 1) / 2) / integr)

                 T    dof       tail  ...   cohen-d BF10  power
T-test  218.985328  45210  two-sided  ...  1.029895  inf    1.0

[1 rows x 8 columns]

In [24]:
df['age'].mean()

40.93621021432837

**Two-Sample T-Test**

In [20]:
balance_housing = df[df['housing']=='yes']['balance']
balance_no_housing = df[df['housing']=='no']['balance']

In [22]:
balance_housing.mean()

1175.1030640668523

In [23]:
balance_no_housing.mean()

1596.5012698570788

In [21]:
x=balance_housing
y=balance_no_housing
pg.ttest(x, y, paired=False)

                T           dof       tail  ...   cohen-d       BF10  power
T-test -14.081118  34203.875315  two-sided  ...  0.138728  9.456e+40    1.0

[1 rows x 8 columns]

**One-Way ANOVA**

In [26]:
aov = pg.anova(dv='balance', between='education', data=df)
aov.round(3)

      Source  ddof1  ddof2        F  p-unc    np2
0  education      3  45207  116.682    0.0  0.008

In [28]:
df.groupby('education')['balance'].mean()

education
primary      1250.949934
secondary    1154.880786
tertiary     1758.416435
unknown      1526.754443
Name: balance, dtype: float64

**Two-Way ANOVA**

In [31]:

aov = pg.anova(dv='balance', between=['education','job'], data=df)
aov.round(3)

            Source            SS       DF            MS       F  p-unc    np2
0        education  8.458529e+08      3.0  2.819510e+08  30.802  0.000  0.002
1              job  1.966850e+09     11.0  1.788045e+08  19.534  0.000  0.005
2  education * job  5.327554e+08     33.0  1.614410e+07   1.764  0.004  0.001
3         Residual  4.134038e+11  45163.0  9.153594e+06     NaN    NaN    NaN

In [33]:
df.groupby(['education','job'])['balance'].sum()

education  job
primary    admin.             194470
           blue-collar       4081580
           entrepreneur       307324
           housemaid          707420
           management         491640
           retired           1494239
           self-employed      172994
           services           333467
           student             54715
           technician         234981
           unemployed         408165
           unknown             89263
secondary  admin.            4708657
           blue-collar       5714177
           entrepreneur       580396
           housemaid          570218
           management        1487048
           retired           2028145
           self-employed      742616
           services          3311338
           student            640031
           technician        5881175
           unemployed        1043027
           unknown             88716
tertiary   admin.             696569
           blue-collar        230838
           entrepreneur      1256618
           housemaid          316662
           management       14306029
           retired            791016
           self-employed     1625349
           services           244710
           student            366818
           technician        2974578
           unemployed         487493
           unknown             92017
unknown    admin.             273727
           blue-collar        472546
           entrepreneur       118088
           housemaid          132270
           management         395571
           retired            178863
           self-employed       61187
           services           252389
           student            240437
           technician         425512
           unemployed          44150
           unknown            240443
Name: balance, dtype: int64

**Chi-Squared of Independence**

In [35]:
expected, observed, stats = pg.chi2_independence(df, x='loan',
                                                 y='y')

In [36]:
expected

y               no          yes
loan
no    33525.437924  4441.562076
yes    6396.562076   847.437924

In [37]:
observed

y          no     yes
loan
no    33162.5  4804.5
yes    6759.5   484.5

In [38]:
stats

                 test    lambda        chi2  dof          pval    cramer  power
0             pearson  1.000000  209.616980  1.0  1.665061e-47  0.068091    1.0
1        cressie-read  0.666667  217.964803  1.0  2.513745e-49  0.069434    1.0
2      log-likelihood  0.000000  237.146048  1.0  1.648199e-53  0.072425    1.0
3       freeman-tukey -0.500000  254.090511  1.0  3.331960e-57  0.074967    1.0
4  mod-log-likelihood -1.000000  273.667325  1.0  1.801570e-61  0.077802    1.0
5              neyman -2.000000  322.752120  1.0  3.642820e-72  0.084491    1.0

**Mann-Whitney U Test (= Wilcoxon rank-sum test)**

In [39]:
balance_loan = df[df['loan']=='yes']['balance']
balance_no_loan = df[df['loan']=='no']['balance']

In [41]:
df.groupby('loan')['balance'].median()

loan
no     496
yes    258
Name: balance, dtype: int64

In [40]:
x=balance_loan
y=balance_no_loan
pg.mwu(x, y, tail='two-sided')

           U-val       tail          p-val       RBC      CLES
MWU  109609078.0  two-sided  1.515910e-165  0.202939  0.398531